<a href="https://colab.research.google.com/github/Parthjain2005/UCS420/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1

In [1]:
L = [10, 20, 30, 40, 50, 60, 70, 80]

L.append(200)
L.append(300)
print("After adding 200 and 300:", L)

L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)

L.sort()
print("List sorted in ascending order:", L)

L.sort(reverse=True)
print("List sorted in descending order:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

Q2

In [3]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

highest_score = max(scores)
highest_score_index = scores.index(highest_score)
print("Highest score:", highest_score)
print("Index of highest score:", highest_score_index)

lowest_score = min(scores)
lowest_score_count = scores.count(lowest_score)
print("Lowest score:", lowest_score)
print("Count of lowest score:", lowest_score_count)

reversed_scores = list(scores[::-1])
print("Reversed tuple as list:", reversed_scores)

score_to_check = float(input("Enter a score to check: "))
if score_to_check in scores:
    first_occurrence_index = scores.index(score_to_check)
    print(f"The score {score_to_check} is present at index {first_occurrence_index}.")
else:
    print(f"The score {score_to_check} is not present in the tuple.")

Highest score: 92
Index of highest score: 5
Lowest score: 45
Count of lowest score: 2
Reversed tuple as list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter a score to check: 92
The score 92.0 is present at index 5.

Q3

In [4]:
import random

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = [num for num in random_numbers if num % 2 != 0]
even_numbers = [num for num in random_numbers if num % 2 == 0]
prime_numbers = [num for num in random_numbers if is_prime(num)]

print("Odd numbers:", odd_numbers)
print("Even numbers:", even_numbers)
print("Prime numbers:", prime_numbers)
print("Count of odd numbers:", len(odd_numbers))
print("Count of even numbers:", len(even_numbers))
print("Count of prime numbers:", len(prime_numbers))

Odd numbers: [489, 653, 185, 581, 513, 453, 117, 867, 251, 307, 133, 821, 741, 279, 141, 279, 709, 219, 431, 773, 429, 265, 753, 263, 321, 453, 379, 147, 897, 743, 579, 609, 833, 507, 121, 145, 605, 459, 189, 765, 791, 421, 137, 647, 839, 319]
Even numbers: [354, 838, 382, 690, 814, 716, 838, 714, 680, 742, 248, 882, 184, 350, 832, 214, 642, 460, 600, 672, 304, 706, 788, 446, 488, 694, 500, 898, 282, 852, 322, 318, 606, 348, 898, 278, 104, 626, 340, 282, 464, 604, 848, 224, 576, 758, 784, 128, 182, 154, 664, 410, 176, 744]
Prime numbers: [653, 251, 307, 821, 709, 431, 773, 263, 379, 743, 421, 137, 647, 839]
Count of odd numbers: 46
Count of even numbers: 54
Count of prime numbers: 14

Q4

In [5]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

unique_scores = A.union(B)
print("Unique scores (Union of sets):", unique_scores)

common_scores = A.intersection(B)
print("Common scores (Intersection of sets):", common_scores)

exclusive_scores = A.symmetric_difference(B)
print("Exclusive scores (Symmetric difference):", exclusive_scores)

is_subset = A.issubset(B)
is_superset = B.issuperset(A)
print("Are team A's scores a subset of team B?", is_subset)
print("Are team B's scores a superset of team A?", is_superset)

score_to_remove = int(input("Enter a score to remove from team A: "))
if score_to_remove in A:
    A.remove(score_to_remove)
    print(f"Score {score_to_remove} removed from team A.")
else:
    print(f"Score {score_to_remove} is not present in team A.")

Unique scores (Union of sets): {34, 45, 78, 23, 56, 90}
Common scores (Intersection of sets): {90, 78}
Exclusive scores (Symmetric difference): {34, 45, 23, 56}
Are team A's scores a subset of team B? False
Are team B's scores a superset of team A? False
Enter a score to remove from team A: 78
Score 78 removed from team A.

Q5

In [6]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}